.deadLine-td , .status-td{
    font-size: 80%;
    border: 1px solid red;
    border-radius: 2.5rem;
}

.status-td{
    border-color: transparent;
}

.clickable:hover{
    cursor: pointer;
    color: black !important;
}

.pagination-div svg:hover{
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 50%;
}

.pagination-div #pagination-select{
    border-bottom: 1px solid black !important;
    outline: transparent;
}